/********* CLEAR FIX **********/
body {
    margin: 0;
    padding: 0;
    position: relative;
}
/********* SLIDER DIV **********/
.slider {
    position: relative;
	height:100vh;
    width: 100%;
	top:0;
	overflow:hidden;
}

/********* SLIDER DIV END **********/
.cover-background {
    overflow:hidden;
}

/********* video_container DIV **********/

.video_container {
	z-index: 2;
	position: realative;
	transition: all 0.5s;
	transform: translateY(500px);
	top: -500;
	width:100%;
	height: -500px;
	opacity: 0.9;
}
.current_video {
    position: absolute;
    z-index: 5;
    color: #fff;
    width: 100%;
    transform: translateY(0px);
    top:0px;
    height: 100vh;
    opacity: unset !important;
    display: block !important;
}
/********* video_container DIV END **********/

/********* SLide Extras **********/
.slide-extras {
    position: absolute;
    top: 0px;
    left: 0;
    z-index: 555;
    height: 100vh;
    width: 100%;
}
.play_button {
    position: absolute;
    z-index: 9;
    bottom: 10%;
    right: 10%;
    height: 50px;
    width: 50px;
}



/********* Pointer **********/
 .status-pointer-container {
    position: absolute;
    left: 5%;
    bottom: 50%;
    transform: translate(0, 50%);
    width: 50px;
 }
.status {
    position: relative;
    display: flex;
    height: 100%;
    bottom: 0;
    flex-wrap: wrap;
    flex-direction: column;
    align-content: center;
    justify-content: center;
    align-items: center;
}
.status:before {
	position: absolute;
    content:"";
    width: 1px;
    height: 100%;
    background: #fff;
    position: absolute;
    display: block;
    bottom: 50%;
    transform: translate(50%, 50%);
    left: 50%;
 }

.status .point {
    position: absolute;
    width: 18px;
	height: 18px;
    background-color: #ffffff;
    border-radius: 50%;
    transition: left 500ms ease-in-out;
    left: 16px;
    z-index: 55555555555;
}
.exp{visibility: hidden;}

.status .point:before {
   width: 448px;
   position: absolute;
   color: #fff;
   left: 33px;
   font-size: 15px;
   top: -3px;
   font-family: 'Montserrat', sans-serif !important;
   text-transform: uppercase;
}
.status .point[data-current='0'] {
    top: 0px;
}
.status .point[data-current='1'] {
    top: 71px;
}
.status .point[data-current='2'] {
    top: 142px;
}
.status .point[data-current='3'] {
    top: 222px;
}
.status .point[data-current='4'] {
    top: 296px;
}
.status .point[data-current='5'] {
    top: 372px;
}

/********* Stat **********/

.stat {
    width: 8px;
    height: 8px;
    background-color: #fff;
    border-radius: 50%;
    margin: 34px 0px;
    border: none;
}
.stat[data-key='0'] {
    margin-top: 0 !important;
}
.stat[data-key='5'] {
    margin-bottom: 0 !important;
}

.status .stat.current {
    background-color: #fff;
}


/********* Slider Text **********/

.slide-extras .text .slide_text {
    color: #000;
    text-shadow: 0 0 5px #000 3;
    z-index: 555;
    transform-origin: right top;
    font-size: 15vw;
    text-transform: uppercase;
    position: absolute;
    width: 100vh;
    visibility: hidden;
}
.slide-extras .text div {
   position:absolute;
}
@media (min-width: 70em) {
    .slide-extras .text {
        font-size: 10em;
    }
}

.slide-extras .text div {left: 10%;font-size: 43px;bottom: 10%;color: #fff;}
.text div p {
    font-size: 18px;
}
.slide-extras .text .current_text{
    visibility: visible;
    opacity: 0.8;
    transform: translateY(0vh) scaleX(1);
}





